<%- include('includes/head.ejs') %>
	</head>
	<body style="background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #5691c8, #457fca);">
		<%- include('includes/navigation.ejs') %>
		<br>
<br>
<br>
<br>
<br>
		<main style="margin-top: 10px;">
			<% if (typeof bannermessage !== 'undefined' && bannermessage) { %>
            <div class="alert alert-danger" style="text-align: center; font-size: 17px; font-weight: 800; width: 100%;">
                <strong><%= bannermessage %></strong> 
            </div>
        <% } %>
			<div class="log-in-pop" style=" border-radius:10px;">
				<div class="log-in-pop-left">
					<center>
							<img src="/images/panda_sign.png"  style="background-size: contain; height: 90%; width: 90%;">
					</center>
				</div>
				<div class="log-in-pop-right">
					<b style="text-align: center; font-size: 1.9rem; font-weight: 800;">Login</b>
				
					<form class="s12" action="/mfa-verification" method="POST">
							<br>
						<div>
							<div class="input-field s12">
								<input id="userID" name="userID" value="<%= userID %>" data-ng-model="name" class="validate" style="display: none;"></input>
								<input type="text" id="user_passcocde" name="user_passcocde" data-ng-model="name" class="validate">
								<label>Enter a Google PassCode to verify</label>
							</div>
						</div>
						<div>
							<br>
						</div>
						<br>
						<div>
							<div class="input-field s4">
								<input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
						</div>
					</form>
				</div>
			</div>
			<br>
		</main>
		<br>
<br>
		<br>
<br>
<br>
			<%- include('includes/end.ejs') %>